<div class="form-input disabled">
  <label class="label" [for]="label" *ngIf="label">{{ label }}</label>
  <input
    class="input"
    [type]="type"
    [id]="label"
    [value]="value ? value : ''"
    (blur)="setTouched()"
    [disabled]="isDisabled"
    (input)="changeValue($event)"
    [placeholder]="placeholder"
  />
  <div class="helper-text"></div>
</div>
