:host {
  width: 100%;
}
.form-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  &.disabled {
    label {
      opacity: 0.7;
      cursor: not-allowed;
    }
    .input {
      opacity: 0.71;
      cursor: not-allowed;
    }
  }
  .label {
    font-family: var(--nunito-semi-bold);
    margin-bottom: 10px;
    color: #222;
  }
  .input {
    outline: none;
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    border: 2px solid rgb(146, 204, 139);
    font-family: var(--nunito-semi-bold);
    color: #222;
  }
  .input:focus {
    background-color: red;
  }
}
