:host {
  width: 100%;
}
.button-container {
  position: relative;
  padding: 10px 15px;
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
  background-color: blue;
  font-family: var(--nunito-semi-bold);
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  .backdrop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: background 0.3s ease-in;
    z-index: 2;
    background-position: center;
    &:hover {
      background: rgba(255, 255, 255, 0.2)
        radial-gradient(
          circle,
          transparent 1%,
          rgba(255, 255, 255, 0.2),
          1%
        )
        center/15000%;
    }
    &:active {
      background-color: rgba(255, 255, 255, 0.2);
      background-size: 100%;
      transition: background 0s;
    }
  }
}
