:host {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.left {
  flex: 2;
  height: 100%;
  .form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    flex-direction: column;
    & > * {
      margin: 15px 0;
    }
  }
}
.right {
  flex: 8;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url('https://i.pinimg.com/originals/78/65/cf/7865cfbac2e3d1b0d5723a6381a2f4c6.jpg');
  background-position: center;
  background-repeat: no-repeat;
  .title {
    color: #fff;
    font-size: 124px;
    font-family: var(--fjalla);
  }
}
