<div class="left">
  <form
    class="form"
    [formGroup]="form"
    [disabled]="form.disalbed || formDisabled"
  >
    <app-form-input
      label="Email"
      [value]="form.get('email').value"
      formControlName="email"
    ></app-form-input>
    <app-form-input
      formControlName="password"
      type="password"
      label="Password"
      [value]="form.get('password').value"
    ></app-form-input>
    <button
      type="button"
      [disabled]="formDisabled || form.invalid || form.disabled"
      (click)="signIn()"
    >
      Sign In
    </button>

    <!-- </button> -->
  </form>
</div>
<div class="right">
  <div class="title">ENEMY CHAT</div>
</div>
