@font-face {
    font-family: 'Fjalla';
    src: url('../fonts/fjallaOne/FjallaOne-Regular.ttf');
}

@font-face {
    font-family: 'NunitoRegular';
    src: url('../fonts/nunito/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'NunitoItalic';
    src: url('../fonts/nunito/Nunito-Italic.ttf');
}

@font-face {
    font-family: 'NunitoLight';
    src: url('../fonts/nunito/Nunito-Light.ttf');
}

@font-face {
    font-family: 'NunitoSemiBold';
    src: url('../fonts/nunito/Nunito-SemiBold.ttf');
}

@font-face {
    font-family: 'NunitoBold';
    src: url('../fonts/nunito/Nunito-Bold.ttf');
}

:root {
    --nunito: 'NunitoRegular';
    --nunito-light: 'NunitoLight';
    --nunito-italic: 'NunitoItalic';
    --nunito-semibold: 'NunitoSemiBold';
    --nunito-bold: 'NunitoBold'
    --fjalla: 'Fjalla';
}