/* You can add global styles to this file, and also import other style files */
// @import './assets/variables/variables.scss';

@font-face {
  font-family: 'Fjalla';
  src: url('./assets/fonts/fjallaOne/FjallaOne-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'NunitoRegular';
  src: url('./assets/fonts/nunito/Nunito-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'NunitoItalic';
  src: url('./assets/fonts/nunito/Nunito-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'NunitoLight';
  src: url('./assets/fonts/nunito/Nunito-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'NunitoSemiBold';
  src: url('./assets/fonts/nunito/Nunito-SemiBold.ttf')
    format('truetype');
}

@font-face {
  font-family: 'NunitoBold';
  src: url('./assets/fonts/nunito/Nunito-Bold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--nunito);
  font-size: 16px;
  height: 100%;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}

:root {
  --nunito: 'NunitoRegular';
  --nunito-light: 'NunitoLight';
  --nunito-italic: 'NunitoItalic';
  --nunito-bold: 'NunitoBold';
  --nunito-semi-bold: 'NunitoSemiBold';
  --fjalla: 'Fjalla';
}
